body {
    background-color:#FFCCCC;
}

.desktop-menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom:solid black 2px;

    font-size: 40px;
    height: 50px;
    left: 0;
    text-align: center;
    justify-content: end;
    background-color:  #FFCCCC;
    color: black;
    display: block;
}

.mobile-menu {
    /*固定位置*/
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    /*固定位置*/

    border-bottom:solid black 2px;
    height: 50px;
    display: flex;
    background-color: #FFCCCC;
    justify-content: end;
    display: none;
}


.list {
    border-radius: 5px;
    cursor:pointer;
    margin-top: -10px;
    /*上排留黑所以要間距*/

    opacity: 0.9;
    position:fixed; /*固定再螢幕位置*/
    /*絕對位置 忽略背景DIV*/
    padding: 6px;
    /*邊框留間距*/
    width: 20%;
 
    background-color:#ffcccc;

}

.item {

    border-right: solid #ACC0D8 2px;/*右線-增加立體*/
    border-bottom: solid #ACC0D8 2px;/*底線-增加立體*/
    border-radius: 5px;
    padding: 5px;
    flex: none;
    background-color: rgb(236, 233, 228);
    margin: 5px;
    width: 280px;
}


@media(max-width:2000px) {
    .list {
        flex-wrap: wrap;
        /*受到螢幕擠壓往下堆疊*/
    }

    .item {
        width: 45%;
    }

}

@media (max-width:2000px) {
    .item {
        width: 80%;
        justify-self: left;
    }

    .mobile-menu {
        display: block;
    }

    .desktop-menu {
        display: none;
    }
}

.p1 {
    width: 50px;
    height: 50px;
    transition-duration: 0.2s;
}

.p1:hover {
    width: 52px;
    height: 52px;
}

.menu-layout {
    display: flex;

}

.btnSearch {
    background-color: rgb(230, 224, 217);
    width: 88%;
}

.card {

    border-style: ridge;
    margin-top: 60px;
    /*上排留黑所以要間距*/
    border-radius: 10px;
    padding: 15px;
    background-color:rgb(43, 44, 44);

}