body {
    background-color: #FFCCCC;
}

.desktop-menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: solid black 2px;

    font-size: 40px;
    height: 50px;
    left: 0;
    text-align: center;
    justify-content: end;
    background-color: #FFCCCC;
    color: black;
    display: block;
}

.mobile-menu {
    /*固定位置*/
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    /*固定位置*/
    height: 50px;

    border-bottom: solid black 2px;

    display: flex;
    background-color: #FFCCCC;
    justify-content: end;
    display: none;
}

.menu-layout {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    /*固定位置*/
    height: 50px;

    display: flex;
    height: 50px;

}


.list {
    border-style: solid;
    border-radius: 5px;
    margin: 10px;
    margin-top: 42px;
    /*上排留黑所以要間距*/

    opacity: 0.9;
    position: fixed;
    /*固定再螢幕位置*/
    /*絕對位置 忽略背景DIV*/
    padding: 6px;
    /*邊框留間距*/
    width: auto;

    background-color: #ffcccc;

    height: 50%;
    overflow-y: auto;

}

.list::-webkit-scrollbar {
    /*滾動條大小*/
    width: 4px;
}


.item {
    border-right: solid #ACC0D8 2px;
    /*右線-增加立體*/
    border-bottom: solid #ACC0D8 2px;
    /*底線-增加立體*/

    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    flex: none;
    background-color: rgb(236, 233, 228);
    margin: 5px;

}




@media(max-width:2000px) {
    .list {
        flex-wrap: wrap;
        /*受到螢幕擠壓往下堆疊*/
    }



}

@media (max-width:2000px) {
    .item {

        justify-self: center;
    }

    .mobile-menu {
        display: block;
    }

    .desktop-menu {
        display: none;
    }
}

.p1 {
    width: 50px;
    height: 50px;
    transition-duration: 0.2s;
}

.p1:hover {
    width: 52px;
    height: 52px;
}

.btnSearch {
    font-size: 15px;
    border-style: dashed;
    border-radius: 5px;
    background-color: rgb(237, 202, 223);
    width: auto;
    color: black;
}

.card {
    border-right: solid rgb(167, 164, 164) 2px;
    /*右線-增加立體*/
    border-bottom: solid rgb(167, 164, 164) 2px;
    /*底線-增加立體*/
    /*border-style: ridge;*/
    margin-top: 50px;
    

    /*上排留黑所以要間距*/
    border-radius: 8px;
    padding: 15px;
    background-color: rgb(43, 44, 44);

}